colorama==0.4.6
filelock==3.20.0
fsspec==2025.12.0
Jinja2==3.1.6
kornia==0.8.2
kornia_rs==0.1.10
MarkupSafe==3.0.2
mpmath==1.3.0
networkx==3.6.1
numpy==2.3.5
packaging==26.0
pillow==12.1.0
setuptools==70.2.0
sympy==1.13.1
torch==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm==4.67.3
typing_extensions==4.15.0
